################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flight_Helper/WebAPI/obj
/Flight_Helper/.vs/Flight_Helper/FileContentIndex
/Flight_Helper/.vs/Flight_Helper/v17
/Flight_Helper/.vs
/.vs
/Flight_Helper/WebAPI/bin/Debug/net8.0
/Flight_Helper/WebAPI/bin/Release/net8.0
/Flight_Helper/WebAPI/Properties/PublishProfiles
*.json
/Flight_Helper/TripSite/bin/Debug/net8.0/af/Humanizer.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/ar/Humanizer.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Flight_Helper/TripSite/obj/Debug/net8.0/apphost.exe
/Flight_Helper/TripSite/obj/Debug/net8.0/ref/TripSite.dll
/Flight_Helper/TripSite/obj/Debug/net8.0/refint/TripSite.dll
/Flight_Helper/TripSite/obj/Debug/net8.0/scopedcss/bundle/TripSite.styles.css
/Flight_Helper/TripSite/obj/Debug/net8.0/scopedcss/projectbundle/TripSite.bundle.scp.css
/Flight_Helper/TripSite/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Flight_Helper/TripSite/obj/Debug/net8.0/staticwebassets/msbuild.build.TripSite.props
/Flight_Helper/TripSite/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TripSite.props
/Flight_Helper/TripSite/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TripSite.props
/Flight_Helper/TripSite/obj/Debug/net8.0/staticwebassets/msbuild.TripSite.Microsoft.AspNetCore.StaticWebAssets.props
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.AssemblyInfo.cs
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.AssemblyInfoInputs.cache
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.csproj.CoreCompileInputs.cache
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.csproj.Up2Date
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.dll
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.genruntimeconfig.cache
/Flight_Helper/TripSite/obj/Debug/net8.0/TripSite.pdb
/Flight_Helper/TripSite/bin/Debug/net8.0/Asp.Versioning.Abstractions.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Asp.Versioning.Http.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Asp.Versioning.Mvc.ApiExplorer.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Asp.Versioning.Mvc.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/AutoMapper.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Azure.Core.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Azure.Identity.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Marvin.Cache.Headers.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.Charting.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.Quality.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.Snippets.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.System.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/PdfSharp.WPFonts.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/System.Memory.Data.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/System.Runtime.Caching.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/TripSite.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/TripSite.exe
/Flight_Helper/TripSite/bin/Debug/net8.0/TripSite.pdb
/Flight_Helper/TripSite/bin/Debug/net8.0/WebAPI.dll
/Flight_Helper/TripSite/bin/Debug/net8.0/WebAPI.exe
/Flight_Helper/TripSite/bin/Debug/net8.0/WebAPI.pdb
