################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flight_Helper/WebAPI/obj
/Flight_Helper/.vs/Flight_Helper/FileContentIndex
/Flight_Helper/.vs/Flight_Helper/v17
/Flight_Helper/.vs
/.vs
/Flight_Helper/WebAPI/bin/Debug/net8.0
/Flight_Helper/WebAPI/bin/Release/net8.0
/Flight_Helper/WebAPI/Properties/PublishProfiles
*.json
