@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron jumbotron-bg">
    <h1 class="display-4">Welcome to TripSite!</h1>
    <p class="lead">Explore amazing destinations and plan your next adventure with TripSite.</p>
    <hr class="my-4">
    <p>Choose an option below to get started:</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Account/Login" role="button">Log In</a>
        <a class="btn btn-primary btn-lg" href="~/Account/Register" role="button">Create Account</a>
        <a class="btn btn-outline-secondary btn-lg" href="~/Home/ContinueAsGuest" role="button">Continue as Guest</a>
    </p>
</div>
