@model TripCreateDTO

@{
    ViewData["Title"] = "Create Trip";
}

<h1>Create Trip</h1>

@* Render the partial view *@
@*@await Html.PartialAsync("_Create", Model)*@
@await Html.PartialAsync("~/Views/Shared/_Create.cshtml", Model)
