@model TripViewModel

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="TripName" class="control-label"></label>
        <input asp-for="TripName" class="form-control" />
        <span asp-validation-for="TripName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label" value="@Model.StartDate.ToString("yyyy-MM-dd")"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label" value="@Model.StartDate.ToString("yyyy-MM-dd")"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Budget" class="control-label"></label>
        <input asp-for="Budget" class="form-control" />
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfPassengers" class="control-label"></label>
        <input asp-for="NumberOfPassengers" class="form-control" />
        <span asp-validation-for="NumberOfPassengers" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <textarea asp-for="Notes" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
</form>
