<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TripSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TripSite.styles.css" asp-append-version="true" />
    <style>
        /* Add custom styles for background image */
        .jumbotron-bg {
            background-image: url('https://t3.ftcdn.net/jpg/02/14/39/04/240_F_214390473_beGKa4uiA6zi8tXG2UCmc49m5Nb6sbsK.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh; /* Set height to viewport height for full screen coverage */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: fantasy;
            color: #212529; /* Adjust text color for better readability */
        }
    </style>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TripSite - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
